<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    {% load static %}
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'favicons/48FAVIA.png' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <!--  Dropzone.js script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>IA - IT ACEDEMIA</title>
  </head>

  <body class="text-white">
    <!-- Content -->
    <header class="navbar sticky-top bg-primary flex-md-nowrap p-0 shadow">
      <a
        class="nav-link d-flex align-items-center gap-2"
        aria-current="page"
        href="{% url 'home' %}"
      >
        <img
          src="{% static 'images/IA-LOGO.png' %}"
          alt="IA-LOGO"
          height="50"
        />
      </a>

      <div class="navbar-nav flex-row d-md-none">
        <li class="nav-item text-nowrap">
          <button
            class="nav-link px-3 text-white"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="bi bi-list"></span>
          </button>
        </li>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div
          class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary"
        >
          <div
            class="offcanvas-md offcanvas-end bg-body-tertiary"
            tabindex="-1"
            id="sidebarMenu"
            aria-labelledby="sidebarMenuLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="sidebarMenuLabel">IT ACADEMIA</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                data-bs-target="#sidebarMenu"
                aria-label="Close"
              ></button>
            </div>
            <div
              class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto"
            >
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a
                    class="nav-link d-flex align-items-center gap-2 link-success"
                    aria-current="page"
                    href="{% url 'home' %}"
                  >
                    <span class="bi bi-house-fill"></span> Accueil
                  </a>
                </li>
              </ul>

              <hr class="my-5" />

              <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                  <a
                    class="nav-link d-flex align-items-center gap-2"
                    href="{% url 'my_grades' %}"
                  >
                    <span class="bi bi-mortarboard"></span>
                    Mes notes
                  </a>
                </li>
              </ul>

              <hr class="my-5" />

              <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                  <a
                    class="nav-link d-flex align-items-center gap-2"
                    href="{% url 'update_student' user.id %}"
                  >
                    <span class="bi bi-person-circle"></span>
                    <span>{{ user.first_name }}</span>
                    <span>{{ user.last_name }}</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link d-flex align-items-center gap-2"
                    href="{% url 'logout' %}"
                  >
                    <span class="bi bi-box-arrow-right"></span> Déconnexion
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom"
          >
            <h1 class="h2 text-dark">{{ course.name }}</h1>
          </div>
          <div class="card mb-3">
            <div class="row my-3 text-center">
              <div class="col-6">
                <a
                  class="btn btn-primary mx-1"
                  href="{% url 'course_detail' course.id %}"
                >
                  <span class="bi bi-arrow-left me-1"></span><span>Retour</span>
                </a>
              </div>
              <div class="col-6">
                <a class="btn btn-primary mx-1" href="#">
                  <span>Suivant</span>
                  <span class="bi bi-arrow-right me-1"></span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card-body">
                  <div class="row border-bottom px-3">
                    <div class="col-12">
                      <h5 class="card-text my-2">{{ assignement.title }}</h5>
                      <p class="bg-secondary-subtle p-4">
                        {{ assignement.description }}
                      </p>
                      <div>{{ assignement.status }}</div>
                      <div>
                        <a href="{{ assignement.file.url }}" download>
                          <span
                            class="bi bi-file-earmark-arrow-down me-1"
                          ></span
                          >Cliquez pour télécharger</a
                        >
                      </div>
                      <div class="text-danger my-1">
                        <button class="btn btn-outline-danger">
                          {{ assignement.due_date }}
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="row my-2">
                    {% if submission and file_name %}
                    <p>Derniere soumission:</p>
                    <p>
                      <a href="{{ submission.file.url }}" download
                        >{{ file_name }}</a
                      >
                    </p>

                    {% else %}
                    <p>Pas encore de soumission</p>
                    {% endif %}
                  </div>

                  <div class="row p-4 border border-primary text-center">
                    <form
                      action="{% url 'submit_assignement' assignement.id %}"
                      class="dropzone dz-clickable p-5"
                      id="my-dropzone"
                    >
                      {% csrf_token %}
                    </form>

                    <button id="submit-button" class="btn btn-primary mt-3">
                      Soumettre
                    </button>
                    <script>
                      Dropzone.autoDiscover = false;
                      $(document).ready(function () {
                        var myDropzone = new Dropzone("#my-dropzone", {
                          paramName: "file",
                          maxFilesize: 5,
                          acceptedFiles: ".pdf,.doc,.docx,.zip,.rar",
                          autoProcessQueue: false,
                          dictDefaultMessage:
                            "Glissez et déposez votre fichier ici",
                          dictFileTooBig:
                            "Fichier trop grand ({{filesize}}MB). Taille max: {{maxFilesize}}MB.",
                          init: function () {
                            var submitButton =
                              document.querySelector("#submit-button");
                            var dropzone = this;

                            submitButton.addEventListener("click", function () {
                              dropzone.processQueue();
                            });
                          },
                        });
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-2">
              <div class="col-lg-6 col-sm-12">
                {% if prev_assignement %}
                <a
                  href="{% url 'assignement_detail' course_id=course.id assignement_id=prev_assignement.id %}"
                  class="btn btn-secondary me-2"
                >
                  Précédent
                </a>
                {% else %} PAS DE PRECEDENT {% endif %}
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!--/ Content -->
  </body>
</html>
